# Explore here

In [2]:
# Your code here
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv')

df.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2

In [3]:
print(list(df.columns))

['fips', 'TOT_POP', '0-9', '0-9 y/o % of total pop', '19-Oct', '10-19 y/o % of total pop', '20-29', '20-29 y/o % of total pop', '30-39', '30-39 y/o % of total pop', '40-49', '40-49 y/o % of total pop', '50-59', '50-59 y/o % of total pop', '60-69', '60-69 y/o % of total pop', '70-79', '70-79 y/o % of total pop', '80+', '80+ y/o % of total pop', 'White-alone pop', '% White-alone', 'Black-alone pop', '% Black-alone', 'Native American/American Indian-alone pop', '% NA/AI-alone', 'Asian-alone pop', '% Asian-alone', 'Hawaiian/Pacific Islander-alone pop', '% Hawaiian/PI-alone', 'Two or more races pop', '% Two or more races', 'POP_ESTIMATE_2018', 'N_POP_CHG_2018', 'GQ_ESTIMATES_2018', 'R_birth_2018', 'R_death_2018', 'R_NATURAL_INC_2018', 'R_INTERNATIONAL_MIG_2018', 'R_DOMESTIC_MIG_2018', 'R_NET_MIG_2018', 'Less than a high school diploma 2014-18', 'High school diploma only 2014-18', "Some college or associate's degree 2014-18", "Bachelor's degree or higher 2014-18", 'Percent of adults with less than a high school diploma 2014-18', 'Percent of adults with a high school diploma only 2014-18', "Percent of adults completing some college or associate's degree 2014-18", "Percent of adults with a bachelor's degree or higher 2014-18", 'POVALL_2018', 'PCTPOVALL_2018', 'PCTPOV017_2018', 'PCTPOV517_2018', 'MEDHHINC_2018', 'CI90LBINC_2018', 'CI90UBINC_2018', 'Civilian_labor_force_2018', 'Employed_2018', 'Unemployed_2018', 'Unemployment_rate_2018', 'Median_Household_Income_2018', 'Med_HH_Income_Percent_of_State_Total_2018', 'Active Physicians per 100000 Population 2018 (AAMC)', 'Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)', 'Active Primary Care Physicians per 100000 Population 2018 (AAMC)', 'Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)', 'Active General Surgeons per 100000 Population 2018 (AAMC)', 'Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)', 'Total nurse practitioners (2019)', 'Total physician assistants (2019)', 'Total Hospitals (2019)', 'Internal Medicine Primary Care (2019)', 'Family Medicine/General Practice Primary Care (2019)', 'Total Specialist Physicians (2019)', 'ICU Beds_x', 'Total Population', 'Population Aged 60+', 'Percent of Population Aged 60+', 'COUNTY_NAME', 'STATE_NAME', 'STATE_FIPS', 'CNTY_FIPS', 'county_pop2018_18 and older', 'anycondition_prevalence', 'anycondition_Lower 95% CI', 'anycondition_Upper 95% CI', 'anycondition_number', 'Obesity_prevalence', 'Obesity_Lower 95% CI', 'Obesity_Upper 95% CI', 'Obesity_number', 'Heart disease_prevalence', 'Heart disease_Lower 95% CI', 'Heart disease_Upper 95% CI', 'Heart disease_number', 'COPD_prevalence', 'COPD_Lower 95% CI', 'COPD_Upper 95% CI', 'COPD_number', 'diabetes_prevalence', 'diabetes_Lower 95% CI', 'diabetes_Upper 95% CI', 'diabetes_number', 'CKD_prevalence', 'CKD_Lower 95% CI', 'CKD_Upper 95% CI', 'CKD_number', 'Urban_rural_code']

In [ ]:
#variable objetivo = Obesity_prevalence

In [5]:
df.shape

(3140, 108)

In [6]:
df.info

<bound method DataFrame.info of        fips  TOT_POP    0-9  0-9 y/o % of total pop  19-Oct  \
0      1001    55601   6787               12.206615    7637
1      1003   218022  24757               11.355276   26913
2      1005    24881   2732               10.980266    2960
3      1007    22400   2456               10.964286    2596
4      1009    57840   7095               12.266598    7570
...     ...      ...    ...                     ...     ...
3135  56037    43051   6104               14.178532    6326
3136  56039    23081   2384               10.328842    2185
3137  56041    20299   3121               15.375142    3205
3138  56043     7885    858               10.881420    1113
3139  56045     6967    780               11.195637     779

      10-19 y/o % of total pop  20-29  20-29 y/o % of total pop  30-39  \
0                    13.735364   6878                 12.370281   7089
1                    12.344167  23579                 10.814964  25213
2                    11.896628   3268                 13.134520   3201
3                    11.589286   3029                 13.522321   3113
4                    13.087828   6742                 11.656293   6884
...                        ...    ...                       ...    ...
3135                 14.694200   5359                 12.448027   6577
3136                  9.466661   2967                 12.854729   4093
3137                 15.788955   2153                 10.606434   2702
3138                 14.115409    715                  9.067850    903
3139                 11.181283    681                  9.774652    906

      30-39 y/o % of total pop  ...  COPD_number  diabetes_prevalence  \
0                    12.749771  ...         3644                 12.9
1                    11.564429  ...        14692                 12.0
2                    12.865239  ...         2373                 19.7
3                    13.897321  ...         1789                 14.1
4                    11.901798  ...         4661                 13.5
...                        ...  ...          ...                  ...
3135                 15.277229  ...         2098                  8.9
3136                 17.733200  ...          928                  7.2
3137                 13.311001  ...         1163                 10.4
3138                 11.452124  ...          506                 11.3
3139                 13.004162  ...          480                 11.7

      diabetes_Lower 95% CI  diabetes_Upper 95% CI  diabetes_number  \
0                      11.9                   13.8             5462
1                      11.0                   13.1            20520
2                      18.6                   20.6             3870
3                      13.2                   14.9             2511
4                      12.6                   14.5             6017
...                     ...                    ...              ...
3135                    8.3                    9.6             2834
3136                    6.5                    8.0             1360
3137                    9.5                   11.2             1500
3138                   10.3                   12.1              686
3139                   10.7                   12.7              644

      CKD_prevalence  CKD_Lower 95% CI  CKD_Upper 95% CI  CKD_number  \
0                3.1               2.9               3.3        1326
1                3.2               3.0               3.5        5479
2                4.5               4.2               4.8         887
3                3.3               3.1               3.6         595
4                3.4               3.2               3.7        1507
...              ...               ...               ...         ...
3135             2.6               2.4               2.8         821
3136             2.4               2.2               2.6         447
3137             3.0               2.8               3.2         430
3138             3.4               3.2               3.7         207
3139             3.4               3.1               3.6         185

      Urban_rural_code
0                    3
1                    4
2                    6
3                    2
4                    2
...                ...
3135                 5
3136                 5
3137                 5
3138                 6
3139                 6

[3140 rows x 108 columns]>

In [11]:
duplicados = df[df.duplicated]

duplicados

Empty DataFrame
Columns: [fips, TOT_POP, 0-9, 0-9 y/o % of total pop, 19-Oct, 10-19 y/o % of total pop, 20-29, 20-29 y/o % of total pop, 30-39, 30-39 y/o % of total pop, 40-49, 40-49 y/o % of total pop, 50-59, 50-59 y/o % of total pop, 60-69, 60-69 y/o % of total pop, 70-79, 70-79 y/o % of total pop, 80+, 80+ y/o % of total pop, White-alone pop, % White-alone, Black-alone pop, % Black-alone, Native American/American Indian-alone pop, % NA/AI-alone, Asian-alone pop, % Asian-alone, Hawaiian/Pacific Islander-alone pop, % Hawaiian/PI-alone, Two or more races pop, % Two or more races, POP_ESTIMATE_2018, N_POP_CHG_2018, GQ_ESTIMATES_2018, R_birth_2018, R_death_2018, R_NATURAL_INC_2018, R_INTERNATIONAL_MIG_2018, R_DOMESTIC_MIG_2018, R_NET_MIG_2018, Less than a high school diploma 2014-18, High school diploma only 2014-18, Some college or associate's degree 2014-18, Bachelor's degree or higher 2014-18, Percent of adults with less than a high school diploma 2014-18, Percent of adults with a high school diploma only 2014-18, Percent of adults completing some college or associate's degree 2014-18, Percent of adults with a bachelor's degree or higher 2014-18, POVALL_2018, PCTPOVALL_2018, PCTPOV017_2018, PCTPOV517_2018, MEDHHINC_2018, CI90LBINC_2018, CI90UBINC_2018, Civilian_labor_force_2018, Employed_2018, Unemployed_2018, Unemployment_rate_2018, Median_Household_Income_2018, Med_HH_Income_Percent_of_State_Total_2018, Active Physicians per 100000 Population 2018 (AAMC), Total Active Patient Care Physicians per 100000 Population 2018 (AAMC), Active Primary Care Physicians per 100000 Population 2018 (AAMC), Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC), Active General Surgeons per 100000 Population 2018 (AAMC), Active Patient Care General Surgeons per 100000 Population 2018 (AAMC), Total nurse practitioners (2019), Total physician assistants (2019), Total Hospitals (2019), Internal Medicine Primary Care (2019), Family Medicine/General Practice Primary Care (2019), Total Specialist Physicians (2019), ICU Beds_x, Total Population, Population Aged 60+, Percent of Population Aged 60+, COUNTY_NAME, STATE_NAME, STATE_FIPS, CNTY_FIPS, county_pop2018_18 and older, anycondition_prevalence, anycondition_Lower 95% CI, anycondition_Upper 95% CI, anycondition_number, Obesity_prevalence, Obesity_Lower 95% CI, Obesity_Upper 95% CI, Obesity_number, Heart disease_prevalence, Heart disease_Lower 95% CI, Heart disease_Upper 95% CI, Heart disease_number, COPD_prevalence, COPD_Lower 95% CI, COPD_Upper 95% CI, COPD_number, diabetes_prevalence, ...]
Index: []

[0 rows x 108 columns]

In [12]:
df.duplicated().sum()

np.int64(0)